img
{
	border: 5px solid black;
    outline-color:black;
    outline-style: dotted;
    margin-right: 30px;
    margin-left: 50px;
    margin-bottom: 20px;
    margin-top:10px;
    
}
#about1
{
	background-color: grey;
	width:65%;
	
}
#about2
{
	font-style:italic;
	font-family:cursive;
	text-decoration: underline;
	
}
table,td
{
	border: 5px solid blue
	margin-left:10px;
	width:50%;
}
p
{
	font-family: cursive;
}